﻿@using ViewsAndControllers.PL.Models
@using ViewsAndControllers.PL.Helpers
@model IndexViewModel


@{
    ViewBag.Title = "Гостьова";
}


@using (Html.BeginForm())
{
    foreach (var item in Model.Comments)
    {
        <h4>@Html.DisplayFor(m => item.UserName)</h4>
        <p>@Html.DisplayFor(m => item.Text)</p>
        <h5><b>@Html.DisplayFor(m => item.DateOfPublishing)</b></h5><br />

    }

    @Html.EditorFor(m => m.UserName)<br />
    @Html.TextBoxFor(m => m.Text)<br />
    <input type="submit" value="submit" /><br /><br /><br />
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Guest", new { page = x }))
</div>