﻿@using ViewsAndControllers.PL.Models
@model Article
@{
    ViewBag.Title = "Article";
}

<h2>@Html.DisplayFor(m => m.Heading)</h2>
<p>@Html.DisplayFor(m => m.Text)</p>
<h5><b>@Html.DisplayFor(m => m.DateOfPublishing)</b></h5>

