﻿@using ViewsAndControllers.PL.Models
@using ViewsAndControllers.PL.Helpers
@model IndexViewModel

@{
    ViewBag.Title = "Головна";
}



@using (Html.BeginForm())
{
    foreach (var item in Model.Articles)
    {
        <h2>@Html.DisplayFor(m => item.Heading)</h2>
        <p>@Html.DisplayFor(m => item.Text).ToString().Substring(0, 200)</p>
        <h5><b>@Html.DisplayFor(m => item.DateOfPublishing)</b></h5>

        @Html.ActionLink("Детальніше", "Article", "Home", item, null)
    }
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>


