﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="container-fluid text-center  active" name="top">
        <h1><img src="~/Content/img/icon1.png" width="70" height="50" /> Library</h1>
    </header>

    <div class="container" style="width: 80%">
        <div class="col-lg-11">
            @RenderBody()
        </div>
        <div class="nav navbar-nav col-lg-1">
            <ul class="nav flex-column">
                <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                <li>@Html.ActionLink("Гостьова", "Guest", "Guest")</li>
                <li>@Html.ActionLink("Анкета", "Questionnaire", "Questionnaire")</li>
            </ul>
        </div>



    </div>

    <hr />
    <footer class="container-fluid text-center">
        <a href="#top">Back to top of page</a>
        <p>&copy; Pavlo Pryima pashaprujma@gmail.com</p>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
