﻿@using ViewsAndControllers.PL.Models
@model UserBook

@{
    ViewBag.Title = "Анкета";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.UserName)<br />
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

    <div>
        @Html.LabelFor(m => m.City)
        @Html.EditorFor(m => m.City)
        @Html.ValidationMessageFor(m => m.City)
    </div>

    <div>
        @Html.Label("Favourite book:") <br />
        @foreach (var i in Model.Books)
        {
            @Html.RadioButtonFor(m => m.RadioAns, i.Name); @i.Name <br />
        }
    </div>

    <div>
        @Html.Label("Read books:") <br />
        @for (int i = 0; i < Model.Books.Count; i++)
        {
            @Html.CheckBoxFor(m => m.Books[i].CheckAns)
            @Model.Books[i].Name <br />
            @Html.HiddenFor(m => m.Books[i].Name)
        }
    </div>

    <input type="submit" value="submit" />
}
