﻿@using ViewsAndControllers.PL.Models
@model UserBook

@{
    ViewBag.Title = "Ваші дані";
}

<strong>Name: </strong> @Model.UserName
<br />
<strong>City: </strong> @Model.City
<br />
<strong>Favourite book: </strong> @Model.RadioAns
<br />
<strong>Read books: </strong> @ViewBag.SelectBook



